@import "../../../shared/colors.scss";
@import "../../../shared/mixins";

.main-container {
  padding-top: 100px;
}

.filters-wrapper {
  position: relative;
  z-index: 90000;
}

showcase {
  position: relative;
  top: -39px;
  z-index: 10;
}

/** Media queries **/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .filters {
    //position: fixed;
    top: 44px;
    right: -100%;
    width: 100%;
    height: 100%;
  }

  .main-container {
    padding-top: 34px;
  }
}
.nav {
  width: 100%;
  border: 1px solid $text-color;
  border-radius: 0 0 5px 5px;
  height: 3rem;
  position: fixed;
  z-index: 100000000000000000000;
  background: oldlace;
}
