<div class="row topbar">
  <div style="width: 50%;" class=" flexbetween nav offset-xs-0 offset-sm-6 col-xs-12 col-sm-6">

    <div id="info" class="flexbetween">
      <div class="paddedleft">{{name}}</div>
      <div class="paddedleft">{{balance | currency:'EUR':true:'1.2-2'}}</div>
    </div>

    <div id="buttons" class="flexbetween">
      <div><button class="btn btn-outline-primary" style="height: 100%">History</button></div>
      <div style="padding-left: 10px;"><button class="btn btn-danger" style="height: 100%;"
          (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>

<div class="main-container">
  <!-- Begin container -->


  <!-- Begin row -->
  <div class="row">

    <!-- Begin filter&cart column -->
    <div class="col-sm-12 col-lg-4" style="margin-left: 2%">

      <!-- Begin filter row -->
      <div class="row filters-wrapper">
        <div class="col-12">
          <filter-container class="filters"></filter-container>
        </div>
      </div>
      <!-- End filter row -->

      <!-- Begin cart row -->
      <div class="row" style="padding-top: 20px;">
        <div class="col-12" style="margin-bottom: 50px;">
          <cart>
          </cart>
        </div>
      </div>
      <!-- End cart row -->

    </div>
    <!-- End filter column -->

    <!-- Begin item display column-->
    <div class="col-sm-12 col-offset-lg-1 col-lg-7">
      <showcase></showcase>
    </div>
    <!-- End item display column-->

  </div>
  <!-- End row -->

</div>