.errorMessage {
  color: red;
}

.loginwrapper {
  width: 35%;
  margin: auto;
  margin-top: 10%;
  border: 2px solid green;
  padding: 20px;
  padding-top: 30px;
  border-radius: 10px;
  background-color: azure;
}
.paddedtop {
  padding-top: 10px;
}

#title {
  width: 100%;
  h1 {
    width: 100%;
    text-align: center;
  }
}
