<div class="container">

    <div id="title">
        <h1>Jarvis</h1>
    </div>

    <div class="loginwrapper">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <fieldset>
                <legend style="text-align: center;">Register</legend>
                <div>

                    <div class="row" class="form-groups">
                        <label class="col-12" for="name">Username</label>
                        <input class="col-12" formControlName="username" type="text" name="name" id="name">
                        <p *ngIf="form.get('username').errors && form.get('username').touched"
                            class="col-12 errorMessage">
                            Username is required. Length between 6 and12. Username might already be in use.</p>
                    </div>

                    <div class="row" class="form-groups">
                        <label class="col-12" for="email">Email</label>
                        <input class="col-12" formControlName="email" type="email" name="email" id="email">
                        <p *ngIf="form.get('email').errors && form.get('email').touched" class="col-12 errorMessage">
                            Email
                            is
                            required. Please check the formatting</p>
                    </div>

                    <form formGroupName="passwordGroup">
                        <div class="row" class="form-groups">
                            <label class="col-12" for="pass">Password</label>
                            <input class="col-12" formControlName="password" type="password" name="pas" id="pass">
                            <p *ngIf="form.get('passwordGroup').get('password').errors && form.get('passwordGroup').get('password').touched"
                                class="col-12 errorMessage">
                                Password is
                                required</p>
                        </div>

                        <div class="row" class="form-groups">
                            <label class="col-12" for="passwordConfirm">Confirm password</label>
                            <input class="col-12" type="password" name="passConfirm" id="passConfirm">
                            <p *ngIf="form.get('passwordGroup').get('passwordConfirm').errors && form.get('passwordGroup').get('passwordConfirm').touched"
                                class="col-12 errorMessage">Confirmation of your password is required</p>
                        </div>
                    </form>

                    <div class="row" class="paddedtop">
                        <button class="offset-4 col-4 btn btn-primary btn-large" type="submit">Register</button>
                    </div>

                    <div class="row" style="padding-top: 10px;"><small class="offset-4 col-4">Already have an
                            account?</small></div>

                    <div class="row">
                        <button class="offset-4 col-4 btn btn-primary btn-large" (click)="toLogin()">Login</button>
                    </div>

                </div>

            </fieldset>
        </form>
    </div>
</div>