<button type="button" class="toggle-btn">Filters</button>
<div class="filters">

    <!-- Begin Price filters -->



    <h4>Filter by price</h4>
    <div>
        <form [formGroup]='form' id="pFilters">
            <div *ngFor="let item of priceFilters">
                <input class="filterCheckbox" type="radio" [checked]='item.checked'
                    (click)='changeFilter(item.id)'>{{item.name}}<br>
            </div>
        </form>
    </div>

    <div class="filterRemove">
        <button *ngIf="filterActive" class="btn" (click)='removeFilter()'>Remove filters</button>
    </div>

    <!-- End price filters -->


    <!-- <h5 style="padding-top: 20px">Filter by type</h5>
  <form action="" id="typeFilters">
    <input type="radio" name="All" id="AllFilter">All<br>
    <input type="radio" name="Food" id="AllFilter">Food<br>
    <input type="radio" name="Beverage" id="AllFilter">Beverage<br>
  </form> -->

</div>