@import "../../../shared/colors.scss";
@import "../../../shared/mixins";

.nav {
  border: 1px solid $text-color;
  border-radius: 0 0 5px 5px;
  height: 3rem;
  position: fixed;
  z-index: 100000000000000000000;
  background: oldlace;
}

.topbar {
  margin-right: 0;
}
.flexbetween {
  display: flex;
  justify-content: space-between;
}
.paddedleft {
  padding-left: 10px;
}
.btn-outline-primary {
  background-color: white;
}
